@import "share";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
}

.l-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #20354f;
  align-items: center;
  height: 60px;
  padding: 0 1.4em 0 1.4em;
}
.c-logo {
  line-height: 20px;
  color: #ebf7f7;
}
.h-show {
  display: none;
  @include rwd(tab-port) {
    display: block;
  }
}
.h-hide {
  @include rwd(tab-port) {
    display: none;
  }
}
.c-site-nav {
  &__bar {
    cursor: pointer;
  }
  &__imgbar {
    height: 20px;
    width: 20px;
  }
  &__list {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    background-color: #151718;
    opacity: 0.99;
    text-align: center;
    list-style-type: none;
    overflow-y: scroll;
    height: 100vh;
    @include rwd(tab-port) {
      position: inherit;
      width: auto;
      background: none;
      height: auto;
      display: flex;
      overflow-y: inherit;
    }
  }
  &__heading {
    background: #25282a;
    padding: 28px;
    color: white;
    border-bottom: 1px solid rgba(#dfdcd9, 0.4);
    @include rwd(tab-port) {
      display: none;
    }
  }
  &__exit {
    position: absolute;
    top: 15px;
    right: 10px;
  }
  &__imgexit {
    color: black;
    cursor: pointer;
    width: 25px;
  }
  &__item {
    padding: 24px 16px;
    border-bottom: 1px solid rgba(#dfdcd9, 0.4);
    // &:first-child {
    //   padding: 0 1.4em 0 1.4em;
    //   text-align: end;
    // }
    &:not(:first-child):hover {
      background-color: #5ec3c4;
    }
    @include rwd(tab-port) {
      &:not(:first-child):hover {
        background-color: inherit;
      }
    }
  }
  &__link {
    font-size: 0.85rem;
    text-decoration: none;
    color: white;
    padding: 0.6em 1em;
    @include rwd(tab-port) {
      &:hover {
        background-color: #34475f;
      }
      color: white;
    }
  }
}
// .h-smooth-menu {
//   animation: smoothMenu 0.75s forwards;
// }
// @keyframes smoothMenu {
//   from {
//     height: 0;
//   }
//   to {
//     height: 100vh;
//   }
// }
.l-flex-container {
  height: calc(100vh - 107px);
  width: 100%;
  overflow: auto;
  margin: auto;
  @include rwd(tab-port) {
    height: auto;
    overflow: inherit;
    width: 65%;
  }
}
.c-flex-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  //min-height: calc(100vh - 107px);
  width: 100%;
  &__item {
    display: flex;
    width: calc(100% / 3 - 2px);
    &:nth-child(3n + 1) {
      margin: 0 0 3px 0;
    }
    &:nth-child(3n + 0) {
      margin: 0 0 3px 0;
    }
    &:nth-child(3n + 2) {
      margin: 0 3px 3px 3px;
    }
    @include rwd(tab-port) {
      width: calc(100% / 3 - 16px);

      &:nth-child(3n + 1) {
        margin: 0 0 16px 0;
      }
      &:nth-child(3n + 0) {
        margin: 0 0 16px 0;
      }
      &:nth-child(3n + 2) {
        margin: 0 16px 16px 16px;
      }
    }
  }
  &__image {
    width: 100%;
  }
}
.l-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  background: #20354f;
  padding: 8px;
  @include rwd(tab-port) {
    display: none;
    position: static;
  }
}
.c-submit {
  &__label {
    cursor: pointer;
    font-size: 0;
  }
  &__imgcamera {
  }
  &__input-file {
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
  }
  &__input-text {
    color: white;
  }
}
.h-stack-order {
  z-index: -1;
}
