@import "share";

.l-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: $bg-primary;
  align-items: center;
  padding: 22px 1.4em;
}

.c-logo {
  font-size: 1.2rem;
  color: $font-primary;
}

.h-show {
  display: none;
  @include responsive(medium-devices) {
    display: block;
  }
}

.h-hide {
  @include responsive(medium-devices) {
    display: none;
  }
}

.c-button {
  cursor: pointer;
  background: inherit;
  border: 0;
  outline: 0;
}

.c-site-nav {
  &__list {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba($bg-menu-list, 0.99);
    text-align: center;
    list-style-type: none;
    overflow-y: scroll;
    height: 100vh;

    @include responsive(medium-devices) {
      position: inherit;
      width: auto;
      background: none;
      height: auto;
      display: flex;
      overflow-y: inherit;
    }
  }

  &__menu-box {
    justify-content: space-between;
    text-align: center;
    align-items: center;
    display: flex;
    background: $bg-menu-box;
    padding: 22px;
    color: $font-primary;
    border-bottom: 2px solid rgba($border-menu-item, 0.4);

    @include responsive(medium-devices) {
      display: none;
    }
  }

  &__heading {
    color: #1776c7;
    font-size: 1.2rem;
  }

  &__item {
    padding: 20px 0;
    border-bottom: 1px solid rgba($border-menu-item, 0.4);

    @include responsive(medium-devices) {
      padding: 0;
      border: 0;
    }
  }

  &__link {
    font-size: 0.875rem;
    text-decoration: none;
    color: $font-primary;

    @include responsive(medium-devices) {
      padding: 0.6em 1em;
      &:hover {
        opacity: 0.8;
        background-color: #014db7;
      }
    }
  }
}

.l-flex-container {
  width: 100%;
  overflow: auto;
  margin: auto;

  @include responsive(medium-devices) {
    width: 90%;
    overflow: inherit;
  }

  @include responsive(large-devices) {
    height: auto;
    overflow: inherit;
    width: 70%;
  }
}
.c-header {
  text-align: center;
}

.c-flex-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-gap: 0.25rem;
  width: 100%;
  height: calc(100vh - 146px);

  @include responsive(medium-devices) {
    grid-gap: 1.25rem;
    height: 100vh;
  }

  &__item {
    display: grid;
  }

  &__image {
    width: 100%;
    height: auto;
  }
}
.l-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: $bg-primary;

  @include responsive(medium-devices) {
    display: none;
    position: static;
  }
}
.c-submit {
  margin: 8px;

  &__label {
    cursor: pointer;
    font-size: 0;
  }

  &__input-file {
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
  }
}
.h-stack-order {
  z-index: -1;
}
